
<html>
  <head>
    <title>Register author</title>
  </head>
  <body>
    <h1>Register author</h1>
    <form method="POST" action="/authors">
      <div>
        <label>Full Name</label>
        <input type="text" name="fullName" />
      </div>
      <div>
        <label>Age</label>
        <input type="text" name="age" />
      </div>
      <div>
        <label>Description</label>
        <input type="text" name="desc" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
